
.icon-mobile-alt:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */